/* animasi spin https://cssanimation.rocks/scroll-animations/ */
.profile {
  opacity: 0;
  transform: rotate(-30deg);
  animation:spinAnimation 1s linear;
  animation-fill-mode:forwards;
}

.profile-center {
  opacity: 0;
  transform: rotate(-30deg);
  animation:spinAnimation 1s linear;
  animation-fill-mode:forwards;
}

@keyframes spinAnimation { 
  0% {transform: translateY(4em) rotateZ(-5deg);
      transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;}
  100% {transform: rotateZ(0deg);opacity:1;}
}
